:root{
    --primary: #F7374F;
    --sec: #522546;
    --tert: #DFD0B8;
}
body.light{
    --primary: #FBC7CD;
    --sec: #B479A3;
    --tert: #5A4E3D;
    background-image: url("lightbg.png");
}
body {
    background-image: url("darkbg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    background-color: var(--primary);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav .tglbtn button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s ease-in;
    cursor: pointer;

}

nav .tglbtn button:hover{
    transform: scale(1.2);
}

nav ul li {
    transition: 0.5s ease;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 400;
    color: var(--tert);



}
#active{
    
    border-bottom: 2px solid black;
    padding: 5px;
    
}

nav ul li a:hover {

    color: var(--tert);
    background-color: var(--sec);
    padding: 10px;
    border-radius: 10px;
}

main ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    list-style: none;
}
main ul li img{
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.2s ease-in;
    background-color: var(--tert);
}
main ul li img:hover{
    background-color: var(--sec);
    transform: scale(1.2);
}
footer{
    background-color: var(--primary);
    text-align: center;
    border-radius: 10px;
}
footer>p{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    color: var(--tert);
} 
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
footer ul li img{
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.2s ease-in;
}
footer ul li img:hover{
    background-color: var(--sec);
    transform: scale(1.05);
}
@media only screen and (max-width:768px) {
    main ul{
        flex-direction: column;
    }
   
}