:root{
    --bg: #2C2C2C;
    --primary: #F7374F;
    --sec: #522546;
    --tert: #DFD0B8;

}
body {
    background-image: url("dark-black-background-design-with-stripes_1017-38064.jpg");
    background-repeat: none;
    background-size: cover;

}

nav {
    background-color: var(--primary);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    transition: 0.5s ease;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 400;
    color: var(--tert);



}
#active{
    
    border-bottom: 2px solid black;
    padding: 5px;
    
}

nav ul li a:hover {

    color: var(--tert);
    background-color: var(--sec);
    padding: 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 900;
    color: var(--tert);
}

main p {
    text-align: center;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    color: var(--tert);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    color:  var(--tert);
    background-color: var(--sec);
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
.btn button:hover{
    transform: scale(1.1);
    background-color: var(--tert);
    color: var(--sec);
    border: 2px solid var(--sec);
}
footer{
    background-color: var(--primary);
    text-align: center;
    border-radius: 10px;
}
footer>p{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    color: var(--tert);
} 
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
footer ul li img{
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.2s ease-in;
}
footer ul li img:hover{
    background-color: var(--sec);
    transform: scale(1.05);
}